/* characters */

.penn {
	font-family: Verdana;
	color: yellow;
}

/*body*/

body {
	color: white;
    font-family: 'Courier New', monospace;
	font-size: 100%;
	margin-left: 5%;
	margin-right: 15%;
	background-color: #2f2f2f;
    word-wrap: break-word;
}

h1 {
	color: white;
	font-family: 'Courier New', monospace;
	font-size: 2em;
}

h2 {
	color: white;
	font-family: 'Courier New', monospace;
	font-size: 1.5em;
}

h3 {
	color: white;
	font-family: 'Courier New', monospace;
	font-size: 1.2em;
}

p {
	color: #f3f3f3;
	font-family: 'Courier New', monospace;
	font-size: 1em;
}

img {

}

/*links*/

a:link {
	color: #81cfe0;
	background-color: transparent;
	text-decoration: none;
}

a:visited {
	color: #be90d4;
	background-color: transparent;
	text-decoration: none;
}

a:hover {
	color: #00b5b5;
	background-color: transparent;
	text-decoration: underline;
}

a:active {
	color: #be90d4;
	background-color: transparent;
	text-decoration: underline;
}

/* divs */

.container {
	width: auto;
	margin: 1em;
	padding-top: 0.5em;
	padding-right: 1%;
	padding-bottom: 0.5em;
	padding-left: 1%;
	background-color: #383838;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #424242;
}

.box {
	border-style: solid;
	border-width: 1.5px;
	border-color: #5c4864;
	border-radius: 5px;
	background-color: #383838;
	margin: 1em;
	padding-top: 1.5em;
	padding-right: 5%;
	padding-bottom: 2em;
	padding-left: 5%;
}

/* button */

button {
	border-color: #81cfe0;
	border-radius: 5px;
	color: #f3f3f3;
	background-color: #424242;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
    font-family: 'Courier New', monospace;
}

button:hover {
	border-color: #be90d4;
}

